nav::-webkit-scrollbar {
    display: none;
}

nav {
    -ms-overflow-style: none;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 2.2rem;
    margin: 0 14px;
    color: #FA4D61;
    font-weight: 400;
    outline: none;
}

nav a.selected {
    background-color: #FA4D61;
    color: white;
    border-radius: 20px;
    padding: 3px 10px;
}